body {
  font-size:12pt;
}

.slider {
  height: 30%;
}
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.slider-image{
  height: 200px;
  width: 100%;
}

.details-description{
  padding: 10px;
}

.distance-weather-container{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.distance-container{
  float: left;
  width: 50%;
}

.weather-container{
  float: left;
  width: 50%;
}

.news-section{
  padding: 10px;
  margin-top: 10px;
}

.language-section{
  padding-left: 10px;
  padding-top: 10px;
}

.distance-weather-container{
  font-weight: bold;
  font-size:12pt;
  color:lightsalmon;
}

.news-section h3{
  color:darkblue;
  padding-top:20px;
}

.news-section h2 a{
  font-size: 14pt;
  color:lightseagreen;
}

.news-section p{
  font-size: 12pt;
}

.transport-section a{
  margin: 10px;
}