<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">{{model.name}}</h1>
    </ion-header-bar>

    <ion-content scroll="true">

    <ion-slide-box data-ng-if="model.imageStore.length" on-slide-changed="slideHasChanged($index)"
                   show-pager="true" auto-play="true" does-continue="true" slide-interval="1000">
        <ion-slide data-ng-repeat="image in model.imageStore">
            <div class="box blue">
                <img class="slider-image" ng-src="{{image}}" />
            </div>
        </ion-slide>
    </ion-slide-box>


    <div class="details-description">{{model['description_'+locale]}}</div>

    <div class="distance-weather-container">
        <div class="distance-container">
            <span data-ng-repeat="distance in model.distanceFrom">From {{distance}}</span>
        </div>

        <div class="weather-container" data-ng-if="model.weather">
            <span>Weather</span>
            <span>{{model.weather.status}}</span>
            <span>{{model.weather.temperature}} &#x2103;</span>
        </div>

    </div>



    <div class="news-section">
        <h2>Local ABC story</h2>

        <ion-list>
            <ion-item data-ng-repeat="news in newsModel | limitTo:3" data-ng-class="{'item-thumbnail-left' : news.doc.article.image !=  null}">
                <img data-ng-if="news.doc.article.image" ng-src="{{news.doc.article.image.url}}">
                <h2><a target="_blank" ng-href="{{news.doc.article.link}}">{{news.doc.article.title}}</a></h2>
                <p>{{news.doc.article.description}}</p>
            </ion-item>
        </ion-list>




    </div>




    </ion-content>


</ion-view>
