<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">{{model.name}}</h1>
    </ion-header-bar>

    <ion-content scroll="true">

    <ion-slide-box data-ng-if="model.imageStore.length" on-slide-changed="slideHasChanged($index)"
                   show-pager="true" auto-play="true" does-continue="true" slide-interval="1000">
        <ion-slide data-ng-repeat="image in model.imageStore">
            <div class="box blue">
                <img class="slider-image" ng-src="{{image}}" />
            </div>
        </ion-slide>
    </ion-slide-box>


    <div class="details-description">{{model['description_'+locale]}}</div>

    <div class="distance-weather-container">
        <div class="distance-container">
            <span data-ng-repeat="distance in model.distanceFrom">{{distance}}</span>
        </div>

        <div class="weather-container" data-ng-if="model.weather">
            <span>Weather</span>
            <span>{{model.weather.status}}</span>
            <span>{{model.weather.temperature}} &#x2103;</span>
        </div>

    </div>




    </ion-content>


</ion-view>
